@using WebAppProject.Models
@model WebAppProject.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="~/css/pigendo_bootstrap.css" rel="stylesheet" type="text/css">
<head>

<h2>Details</h2>
    
</head>    
<body>
<form asp-route-id="@Model.ShoppingCartId" asp-action="Products" asp-controller="Order" method="post">
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostalCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostalCode" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Country" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="View Products" class="btn btn btn-info"/>
                @if (!Model.RequestCompleted)
                {
                    <a asp-controller="Order" asp-action="MarkCompleted" asp-route-id="@Model.OrderId" class="btn btn-success">Mark as completed</a>
                }
                <a asp-controller="Order" asp-action="UnCompleted" class="btn btn-warning">Back</a>
            </div>
        </div>
    </div>
</form>

</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


</html>



















